.mossane-illustration{
    margin-top: 2.5rem;
}
.mossane-illustration:nth-child(2n){
    flex-direction: row-reverse;
}
.mossane-illustration-bloc1, .mossane-illustration-bloc2{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-wrap: nowrap;
    margin: 20px;
}
.mossane-illustration-bloc2>hgroup, .illustration-p{
    font-size: 1.3em;
    margin-left: 10px;
}
.illustration-p{
    font-weight: normal;
}
.mossane-illustration>*>a{
    position: absolute;
}
.mossane-illustration>*>a{
    position: absolute;
}
@media screen and (max-width: 992px) {
    .mossane-illustration-bloc1, .mossane-illustration-bloc2{
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        flex-wrap: nowrap;
        margin: 0px;
    }
}
@media screen and (max-width: 1200px) {
    .mossane-illustration-bloc2>hgroup, .illustration-p{
        font-size: 0.9em;
    }
}


/* ***** */

.mossane-illustration>*>a{
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    padding-right: 30px;
    color: var(--white-color);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    transition: 0.5s ease-in-out;
}
.mossane-illustration>*>a:hover{
    background-color: #18070094;
    color: var(--secondary-color);
}
.mossane-illustration>*>a:hover>.mossane-btn-anim{
    transform: translate(5px, -50%);
}
.illustration-p:last-child{
    text-align: left;
    padding-bottom: 25px;
}