@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    font-family: 'Rubik', 'Open Sans', sans-serif;
}
#main-app{
    min-height: 100vh;
    background-color: var(--grey-color);
}
#testimonial>h2{
    margin-bottom: 20px;
}
