.mossane-btn{
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    padding-right: 30px;
    color: var(--white-color);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    transition: 0.5s ease-in-out;
}
.mossane-btn:hover{
    background-color: #18070094;
    color: var(--secondary-color);
}
.mossane-btn-anim{
    position: absolute;
    transition: 0.4s ease-in-out;
    top: 50%;
    right: 15px;
    transform: translate(0px, -50%);
    
}
.mossane-btn:hover>.mossane-btn-anim{
    transform: translate(5px, -50%);
}